*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    background-color: #202632;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.container button{

    padding: 20px 30px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #0e492c;
}

.container button:hover{

    opacity: .8;

}

.container .advice{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    height: 200px;
    width: 100vw;
}